{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"airbnb",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": ["./tsconfig.json"]
	},
	"globals": {
		"JSX": true
	},
	"plugins": ["react", "@typescript-eslint", "prettier"],
	"rules": {
		// Prettier -- ignore errors since we have processes set up to auto-format the code
		"prettier/prettier": 0,

		// React
		"react/button-has-type": 0,
		"react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
		"react/destructuring-assignment": 0,
		"react/jsx-props-no-spreading": 0,

		// Eslint
		"import/extensions": 0,
		"no-unused-vars": 0,
		"import/order": 0,
		"no-use-before-define": 0,
		"no-case-declarations": 0,
		"default-case": 0,
		"prefer-const": 1,

		// Typescript
		"@typescript-eslint/no-unused-vars": 1,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-empty-interface": 1
	},
	"settings": {
		"import/resolver": {
			"typescript": {},
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		},
		"import/core-modules": ["electron", "electron-is-dev"]
	}
}
