{
	"arrowParens": "avoid",
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"semi": true,
	"trailingComma": "es5",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false,

	"importOrder": [
		"^react$",
		"^react.*",
		"<THIRD_PARTY_MODULES>",
		"^(src/)?(plugins|model|components|assets)",
		"^[./](?!.*\\.s?css$)",
		".*\\.s?css$"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true
}
