@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
.draggable {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.undraggable {
	-webkit-app-region: no-drag;
}

/* TODO: make a transition-duration utility class */

.element-renderer:has(.has-selection) {
	/* https://tailwindcolor.com/ gray-100 with 50% opacity */
	background-color: rgba(244, 244, 245, 0.5);
}
